<!DOCTYPE html>
<html>
<head>
	<title>information edit</title>
</head>
<body>
	<h1>资讯修改</h1><hr></br>
	<form action="edit" method="post">
	<volist name="t" id="t">
			<input type="hidden" name="id" value="{$t.id}"/></br></br>
			标题:<input type="text" name="title" value="{$t.title}"/></br></br>
			简介:<input type="text" name="summary" value="{$t.summary}"/></br></br>
			详情:<input type="textarea" name="content" value="{$t.content}"/></br></br>
			标签:<input type="text" name="tag"value="{$t.tag}"/></br></br>
			<input type="submit" name="submit" value="提交修改"/>
			</volist>
	</form>
</body>
</html>