<!DOCTYPE html>
<html>
<head>
	<title>zhengce list</title>
</head>
<style>
	td{
		width:100px;
		text-align:left;
	}
	</style>
<body>
	<h1>选址中国--攻略--政策--类别:<?php echo $_GET['fenlei'];?></h1></br>
	<a href="__MODULE__/Gonglue/zadd">添加</a></br></br>
	<table>
		<tr>
			<td>题目</td>
			<td>详情</td>
			<td>标签</td>
			<td>用户类别</td>
			<td>操作</td>

		</tr>
		<volist name="data" id="i">
		<tr>
			<td>{$i.title}</td>
			<td>{$i.content}</td>
			<td>{$i.tag}</td>
			<td>{$i.user}</td>
			<td><a href="__MODULE__/Gonglue/zedit?id={$i.id}">修改</a>&nbsp;<a href="__MODULE__/Gonglue/zdel?id={$i.id}">删除</a></td>
		</tr>
		</volist>
		
	</table>
</body>
</html>