/*竞品信息*/
.tab{margin-left: 10px;}
.tab li{padding-top:3px;}
.select-text{width:56px;}
.select-layer{width: 90px;right:20px;}
.comSelect{margin-left:20px;}
.competeText{color: #4B7196;}
input{height: 30px;line-height: 30px;padding-left: 2px;}
.comProvince{margin:0 10px;}
.comSelect{margin-top: 20px;margin-bottom: 10px;}
.tariffComSelect{z-index: 100;position: relative;}
.competeTitle{border-top:1px solid #B0C7E6;border-bottom: 1px solid #B0C7E6;}
.competeTitle .competeTitleInput{margin:30px 15px 25px 0;}
.competeTitle li{margin-left: 20px;}
.competeTitle li .competeFile{width: 75px;}
.competeTitleText{width: 320px;font-size: 18px;margin: 10px 0;}
.competeTitleTextOther{margin-top: 24px;}
.competeContent{padding:10px 15px;}
.competeContent .competeTable{border-collapse: collapse;width:100%;color: #4B7196;}
.competeContent .competeTable tr{border-bottom: 1px solid #B0C7E6;}
.competeContent .competeTable tr td{height: 40px;line-height: 40px;text-align: center;}
.competeContent .competeTable tr:first-child{border:none;background-color:#D8D8D8;height: 48px;line-height: 48px;}
.competeContent .competeTable tr:first-child th{margin:0 45px;font-size: 16px;}
.competeTitle .provinceShowBox{color: #4B7196;height: 20px;line-height: 20px;padding-left: 20px;margin-bottom: 24px;}
.competeTitle ul.provinceShow li{float: left;}
.competeTitle ul.provinceShow li i.provinceShowImg{display: block;float: left;width: 20px;height: 20px;margin-left: -10px;margin-right: 10px;}
.competeTitle ul.provinceShow li i.provinceShowImgY{background-image: url("../images/yes.png");}
.competeTitle ul.provinceShow li i.provinceShowImgN{background-image: url("../images/no.png");}
.dataFile{background-color: #0080cc;height: 32px;line-height: 32px;color: #fff;float: right;margin-top: 30px;display: block;position: relative;cursor:pointer;width: 76px;text-align: center;}
.dataFile:hover{background: #00436a; color: #fff;}
.dataFile input[type="file"]{opacity: 0;position: absolute;left: 0;cursor: pointer;filter:alpha(opacity=0); }
/*资费查询*/
.select{margin:0 20px;}
.tariffInput{width:145px;}
.tariffInquire{margin:15px 0;}
.tariffInquire .tariffInquireCode{margin-left: 30px;}
.tariffInquire .tariffInquireCode input{margin:0 10px;height:24px;}
.downLoad{display:block;width:25px;height: 22px;background-image: url("../images/down.png");margin-right: 10px;}
/*概览*/
.overView{display:-moz-box;display:-webkit-box;display:box;}
.overView .overViewL{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.overView .overViewR{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.overViewR-top{border:1px solid #9F9F9F;padding:10px;margin:10px 10px 20px 0;}
.overViewR-top table{color:#9F9F9F;border-collapse: collapse;width:100%;}
.overViewR-top table th{text-align: center;font-weight: normal;}
.overViewR-top table a{color:#9F9F9F;cursor: pointer;}
.overViewR-top table tr{height: 40px;line-height:40px;/*border-bottom:1px dashed #9F9F9F;*/b:;}
.overViewR-top table tr:first-child{border-bottom: none;}
.overViewR-top table .overViewLink{margin-right: -10px;color:#9F9F9F;display: block;background-image: url("../images/link.png");width: 16px;height: 20px;}
.overViewR .overViewR-bottom{border:1px solid #9F9F9F;padding:10px;}
