<!DOCTYPE html>
<html>
<head>
	<title>yonghuguanli</title>
</head>
	<style>
	td{
		width:300px;
		text-align:left;
		/*border:black solid 2px;*/
	}
	th{
		width:300px;
		text-align:left;
		border:black solid 2px;
	}
	</style>
<body>
<h1>用户管理系统</h1></br></br>
<table>
	<tr><th>用户姓名</th><th>手机号</th><th>服务台手机号</th><th>等级</th><th>从业年限</th><th>专长</th><th>个人介绍</th><th>顾问</th><th>认证达人</th></tr>
	<tr><td>xingming</td><td>telnumer</td><td>renzheng</td><td>xingming</td><td>xingming</td><td>xingming</td><td>xingming</td><td>xingming</td><td>xingming</td></tr>
</table>
</body>
</html>